.learn-card{
    border-radius: 20px;
    border-color:transparent;
    margin-bottom: 20px;
}
.learn-card .card-body{
    padding:0px;
    margin-top:-15px
}
.learn-card .card-img-top{
    border-radius: 20px;
    max-height: 173px;
    width: auto;
}
.learn-card .btn {
    width:100%;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f6891b;
    border-color: transparent;
}

.learn-card.card-disabled
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.learn-card.card-disabled:hover
{
    cursor: default;;
}

.learn-card.card-disabled:hover .learn-card-button
{
    cursor: default;;
}




/* Mobile */
@media (max-width: 992px) 
{
    .learn-card .card-img-top{
        max-height: 208px;
    }
}

